.footer {
    background-color: #c7f1ff;
    color: #8c8c8c;
    padding: 8px 0px 8px 0px;
    text-align: right;
  }
  
  .footer-content {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    font-size: 1rem;
  }
  