/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 45px;
    transition: left 0.3s ease;
    z-index: 9999; /* Ensure sidebar is on top */
  }
  
  .sidebar.open {
    left: 0; /* Show the sidebar when it's open */
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0px;
  }
  
  .sidebar-menu li {
    padding: 15px;
  }
  
  .sidebar-menu button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    padding: 10px;
  }
  
  .sidebar-menu button:hover {
    background-color: #444;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  